@using VietNamTourism.Web.Startup
@{
  ViewBag.Title = L("Provinces");
  ViewBag.CurrentPageName = PageNames.Provinces;
}
@section scripts
{
  <environment names="Development">
    <script src="~/view-resources/Tms/Provinces/Index.js" asp-append-version="true"></script>
  </environment>

  <environment names="Staging,Production">
    <script src="~/view-resources/Tms/Provinces/Index.js" asp-append-version="true"></script>
  </environment>
}

<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1>@L("Provinces")</h1>
      </div>
      <div class="col-sm-6">
        <a href="javascript:;" id="ProvinceCreateModal" data-bs-toggle="modal" data-bs-target="#ProvinceCreateModal" class="btn bg-blue float-sm-right">
          <i class="fa fa-plus-square"></i>
          @L("Create")
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <!--Use for bulk actions-->
              </div>
              <div class="col-md-6">
                @await Html.PartialAsync("~/Areas/Tms/Views/Provinces/Index.AdvancedSearch.cshtml")
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="ProvincesTable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>@L("Code")</th>
                    <th>@L("DisplayName")</th>
                    <th>@L("Description")</th>
                    <th>@L("Region")</th>
                    <th style="width: 150px">@L("Actions")</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>