@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using VietNamTourism.Web.Resources
@using Abp.Localization
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager
@inject ILanguageManager LanguageManager
@inject ILocalizationManager L
@{
	AbpAntiForgeryManager.SetCookie(Context);

	var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
	pageTitle += "VietNamTourism";
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>@pageTitle</title>

	<!-- Style -->
	@await Html.PartialAsync("_Styles.cshtml")
	@RenderSection("styles", required: false)
	<!-- End -->
</head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		@await Html.PartialAsync("_Header.cshtml")
		@await Html.PartialAsync("_SideBar.cshtml")
		<div class="content-wrapper">
			@await Html.PartialAsync("_Alerts.cshtml")
			@RenderBody()
		</div>
		@await Html.PartialAsync("_Footer.cshtml")
	</div>

	<!-- Scripts -->
	@await Html.PartialAsync("_Scripts.cshtml")
	@RenderSection("scripts", required: false)
	@WebResourceManager.RenderScripts()
	<!-- End -->
</body>
</html>